<head>

<link rel="stylesheet" href="/assets/stylesheets/game.scss">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>

<body>

<div class= container>

  <% @grid.each do |letter| %>
    <div class="letter-card col-xs-1"> <%= letter %></div>
  <% end %>

</div>

<h3>What is your longest word ?</h3>



<form action="/game/score" method="get">
  <input type="text" name="attempt" placeholder="Type in your attempt">
  <input type="hidden" name="grid" value="<%= @grid %>">
  <input type="submit">
</form>

</body>
